*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    background-size: cover;
    background: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
}